
.logview-page{
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 25px 50px;
  background-color: #FFF;
}

.title{
  text-align: center;
  font-size: 18px;
}

.clear{
  clear: both;
}

.logview{
  margin: 50px;
  background-color: #BBB;
}

.readme{
  text-align: left;
  font-size: 12px;
  padding: 5px 50px;
}

/*log list text style*/
.loglist-date{
  margin: 5px;
}

.loglist-am{
  padding: 5px 20px;
  color: #F33;
}

.loglist-pm{
  padding: 5px 20px;
  color: #33F;
}

.loglist-amentry{
  padding: 10px;
  color: #A33;
}

.loglist-pmentry{
  padding: 10px;
  color: #33A;
}

