head
  title= title
  link(rel='stylesheet',href='/css/icewater.css')
  script(src='/js/jquery-1.7.2.min.js')
  script(src='/js/raphael-min.js')
  script(src='/js/g.raphael-min.js')
  script(src='/js/g.line-min.js')
  script(src='/js/icewater.js')

