!!!5
html
  include block/header
    script
      var filenames = !{fileliststr};
      $(function(){
        filenames.forEach(function(filename){
        });
      });
  body
    hr
    - if(files.length)
    - files.forEach(function(file){
    - var url='/log/'+file;
    a(href= url)#{file}
    br
    - });

